@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
/* importando font monserrat do google */
body{
    background: rgba(126, 202, 252, 0.816);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/cad4b52e-f6b1-432f-9035-a5f4853bcf15/d79aauf-6f33c5ca-3e5d-4c7e-ae22-316ec20d7131.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwic3ViIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsImF1ZCI6WyJ1cm46c2VydmljZTpmaWxlLmRvd25sb2FkIl0sIm9iaiI6W1t7InBhdGgiOiIvZi9jYWQ0YjUyZS1mNmIxLTQzMmYtOTAzNS1hNWY0ODUzYmNmMTUvZDc5YWF1Zi02ZjMzYzVjYS0zZTVkLTRjN2UtYWUyMi0zMTZlYzIwZDcxMzEuZ2lmIn1dXX0.IbuEJe5zhFEWMO6AjtkezyuvLfM0KUqiEPnUrfBwToU");
    font-family: "Montserrat", sans-serif;
    margin: 0;
    min-height: calc(100vh - 40px);
    padding: 0px 0px;
}
.pagina{
    display: flex;
    justify-content: center;
}
.lista_pokemons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.card_pokemon {
    background:  rgba(241, 237, 122, 0.803);
    border-bottom: 5px solid #3359ec;
    border-top: 5px solid #3359ec;
    border-radius: 5px;
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
    margin: 20px 40px;
    padding: 10px 0;
    text-align: center;
    width: 250px;
    border-radius: 200px;
}
.card_pokemon_2 {
    background: rgba(126, 202, 252, 0.816);
    border-bottom: 5px solid #3359ec;
    border-top: 5px solid #3359ec;
    border-radius: 5px;
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
    margin: 4px;
    padding: 4px 0;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}
.nome_pokemon_2{
    font-size: 16px;
    padding: 4px;
}
.card_pokemon:hover {
    background: rgba(98, 210, 238, 0.816);
}
.card_pokemon.selecionado {
    background-color: #98aaef;
}
.botao {
    background-color: #3359ec;
    border: none;
    color: white;
    cursor: pointer;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
}
.botao:hover {
    background-color: #5373ec;
}
.botao:active {
    background-color: #1737c3;
}
#pokemon_selecionado b {
    color: #3359ec;
}