<html lang="pt-BR"><!-- portugues BR -->
<head>
    <meta charset="UTF-8"><!-- para usar acentos e caracteres especiais -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- compatibilidade -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><!-- escalas iniciais -->
    <title>Pokedex Eevee(evolutions)</title><!-- título da janela -->
    <link rel="stylesheet" href="/static/style.css"><!-- caminho para arquivo css -->
</head>

    <body>
        <div class="pagina"><!-- classe da pagina-principal -->

            <img src="/static/1778611.png" alt="Blue Edtech" width="150"><!-- logo da Blue Edtech -->
        </div>

        {% if not selecionado %}<!-- Caso não haja pokemon selecionado -->

            <div class="pagina">
                <h1>Selecione um Pokémon</h1>
            </div>

            <div class="lista_pokemons"><!-- classe para listagem de pokemons -->
                {% for pokemon in pokemons %}<!-- busca pokemon dentro de pokemons am app.py -->

                    {% if pokemon.disponivel %}<!-- se pokemon estiver disponivel, não selecionado -->

                        <div class="card_pokemon" data-nome="{{pokemon.nome}}" data-numero="{{pokemon.numero}}">
                            <!-- classe com as variaveis que recebem o nome e o numero do pokemon -->
                            <div class="imagem_pokemon">
                                <!-- classe para imagem do pokemon e nela o caminho para exibir a imagem de acordo com o numero do pokemon -->
                                <img src="{{caminho_base_imagem}}/{{pokemon.numero}}.png"  alt="{{pokemon.nome}}">
                            </div>

                            <div class="nome_pokemon">
                                <!-- classe para exibir o nome do pokemon -->
                                <b>{{pokemon.nome}}</b>
                            </div>
                        </div>

                    {% endif %}<!-- fechando o if -->

                {% endfor %}<!-- fechando o for -->
            </div>

            <div class="pagina"><!-- classe principal -->
                <form method="POST"><!--  form com método post, para chamar a informação do pokemon -->
                    <input type="text" name="nr_pokemon" id="nr_pokemon" style="display: none" /><!-- input com display 'none' para não aparecer na pagina -->
                    <input type="submit" id="botao_escolher" class="botao" value="Escolher!" /><!-- input do botão de escolha -->
                </form>
            </div>

            <div class="pagina" style="display: none;"><!-- classe pagina principal, sem display -->
                <h1 id="pokemon_selecionado">Nenhum pokémon foi selecionado.</h1><!-- informando que não há pokemnon selecionado -->
            </div>

        {% else %}
            <div class="pagina">
                <h1 id="pokemon_selecionado"><!-- definição de id do pokemon selecionado e info sobre o pokemon selecionado -->
                    Você selecionou o {{ pokemons[num_pokemon_int-1]['nome'] }} - nº {{ num_pokemon }}.
                </h1>
            </div>

            <div class="card_pokemon_2">
                <div class="imagem_pokemon">
                    <img src="{{caminho_base_imagem}}/{{pokemon.numero}}.png" alt="{{pokemon.nome}}">
                </div>
                <!-- toda descrição do pokemon ao ser escolhido -->
                <div class="nome_pokemon_2">
                    <b>Descrição: </b> <i>{{ pokemons[]['descricao'] }}</i>
                </div>
                <div class="nome_pokemon_2">
                    <b>Altura: </b> {{ pokemons[num_pokemon_int]['altura'] }}
                </div>
                <div class="nome_pokemon_2">
                    <b>Categoria: </b> {{ pokemons[num_pokemon_int-1]['categoria'] }}
                </div>
                <div class="nome_pokemon_2">
                    <b>Peso: </b> {{ pokemons[num_pokemon_int-1]['peso'] }}
                </div>
                <div class="nome_pokemon_2">
                    <b>Habilidade: </b> {{ pokemons[num_pokemon_int-1]['habilidade'] }}
                </div>
                <div class="nome_pokemon_2">
                    <b>Tipo: </b> {{ pokemons[num_pokemon_int-1]['tipo'] }}
                </div>
            </div>
            <div class="pagina">
                <button onclick="history.go(-1);" class="botao">Voltar</button><!-- botão de voltar a pagina de escolha -->
            </div>


        {% endif %}
        <script type="text/javascript" src="static/index.js"></script>
    </body>
</html>